---
import Layout from '../layouts/Layout.astro';
import Modulo from '../components/Modulo.astro';
import { Image } from 'astro:assets';

import logoSimar from './img/serramenti/logo_simar.png';
import logoPinto from './img/serramenti/logo_pinto.png';
import logoSchipani from './img/serramenti/logo_schipani.png';
import logoKadeco from './img/serramenti/logo_kadeco.png';
import logoFinstral from './img/serramenti/logo_finstral.jpg';
import logoSalamander from './img/serramenti/logo_salamander.png';
import logoManuello from './img/serramenti/logo-manuello-design-claim.svg';
import logoTehni from './img/serramenti/logo_tehni.png';
import logoLuxor from './img/serramenti/logo_luxor.png';
import logoGroppalli from './img/serramenti/logo_groppalli.png';
import logoKnerr from './img/serramenti/logo_knerr.png';
import logoNewsolar from './img/serramenti/logo_newsolar.png';
---

<Layout titolo="Bio Project Srls - Serramenti">
	<main>
		<p class="instructions">
			SERRAMENTI
		</p>
		<p>
			Da anni collaboriamo con importanti brand leader del settore, contattaci con fiducia o visita il nostro showroom per farti un'idea della soluzione più adatta alle tue esigenze, in caso di dubbi o necessità siamo pronti a consigliarti al meglio e guidarti nella scelta più idonea. <br />
			<br />
			Seleziona uno dei nostri partner per visualizzare il relativo catalogo
		</p>
		<div role="list" class="d-flex justify-content-around flex-wrap link-card-grid align-items-center align-middle">
			<a href="https://www.pinto.srl/configuratore/" target="#new">
				<div class="my-2">
					<Image src={logoPinto} width="200" alt="Logo Pinto" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://www.schipanisrl.com/prodotti" target="#new">
				<div class="my-2">
					<Image src={logoSchipani} width="200" alt="Logo Schipani" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://www.simarsrl.it/" target="#new">
				<div class="my-2">
					<Image src={logoSimar} width="200" alt="Logo Simar" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://kollektion.kadeco.de/" target="#new">
				<div class="my-2">
					<Image src={logoKadeco} width="200" alt="Logo Kadeco" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://www.finstral.com/it/informazioni/cataloghi/38-0.html?lFilterID=20308,20312" target="#new">
				<div class="my-2">
					<Image src={logoFinstral} width="200" alt="Logo Finstral" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://salamanderpvc.it/download-salamander/download-marketing/?pagename=download-salamander%2Fdownload-marketing&file=%252FM_catalogo-marketing.pdf" target="#new">
				<div class="my-2">
					<Image src={logoSalamander} width="200" alt="Logo Finstral" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://www.manuellodesign.it/it/" target="#new">
				<div class="my-2">
					<Image src={logoManuello} width="200" alt="Logo Manuello Design" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://mydoormaker.com/it/" target="#new">
				<div class="my-2">
					<Image src={logoTehni} width="200" alt="Logo Tehni" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://www.luxor.biz/cataloghi/" target="#new">
				<div class="my-2">
					<Image src={logoLuxor} width="200" alt="Logo Luxor" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://groppalli.it/home-persiane-scuri/" target="#new">
				<div class="my-2">
					<Image src={logoGroppalli} width="200" alt="Logo Groppalli" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://portal.kneer-suedfenster.de/shop/fenster.html" target="#new">
				<div class="my-2">
					<Image src={logoKnerr} width="200" alt="Logo Knerr" class="card-img-top" loading="eager"/>
				</div>
			</a>
			<a href="https://newsolar.info/" target="#new">
				<div class="my-2">
					<Image src={logoNewsolar} width="200" alt="Logo New Solar" class="card-img-top" loading="eager"/>
				</div>
			</a>
		</div>
		<p>
		<Modulo />
	</main>
</Layout>

<style>
	.card {
        /* Add shadows to create the "card" effect */
        /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;*/
        border: none;
        text-decoration: none;
        
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border:none;
    }
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 35%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-light), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		font-size: 1.2rem;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-dark), 12%);
		color: rgb(var(--accent-dark));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-dark));
	}
</style>
