---
import Layout from '../layouts/Layout.astro';
import Modulo from '../components/Modulo.astro';
import { Image } from 'astro:assets';

import logoSimar from './img/serramenti/logo_simar.png';
import logoPinto from './img/serramenti/logo_pinto.png';
import logoSchipani from './img/serramenti/logo_schipani.png';
import logoKadeco from './img/serramenti/logo_kadeco.png';
import logoFinstral from './img/serramenti/logo_finstral.jpg';
---

<Layout titolo="Bio Project Srls - Serramenti">
	<main>
		<p class="instructions">
			SERRAMENTI
		</p>
		<p>
			Da anni collaboriamo con importanti brand leader del settore, contattaci con fiducia o visita il nostro showroom per farti un'idea della soluzione più adatta alle tue esigenze, in caso di dubbi o necessità siamo pronti a consigliarti al meglio e guidarti nella scelta più idonea. <br />
			<br />
			Seleziona uno dei nostri partner per visualizzare il relativo catalogo
		</p>
		<ul role="list" class="link-card-grid">
			<a href="https://www.pinto.srl/configuratore/" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoPinto} width="200" alt="Logo Pinto" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Pinto Srl</h6>
					</div>
				</li>
			</a>
			<a href="https://www.schipanisrl.com/prodotti" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoSchipani} width="200" alt="Logo Schipani" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Schipani Srl</h6>
					</div>
				</li>
			</a>
			<a href="https://www.simarsrl.it/" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoSimar} width="200" alt="Logo Simar" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Simar Srl</h6>
					</div>
				</li>
			</a>
			<a href="https://kollektion.kadeco.de/" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoKadeco} width="200" alt="Logo Kadeco" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Kadeco</h6>
					</div>
				</li>
			</a>
			<a href="https://www.finstral.com/it/informazioni/cataloghi/38-0.html?lFilterID=20308,20312" target="#new">
				<li class="card mx-auto my-3" style="width: 15rem;">
					<Image src={logoFinstral} width="200" alt="Logo Finstral" class="card-img-top" />
					<div class="card-body text-center">
						<h6 class="card-title">Catalogo Finstral</h6>
					</div>
				</li>
			</a>
		</ul>
		<p>
		<Modulo />
	</main>
</Layout>

<style>
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 35%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-light), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		font-size: 1.2rem;
		color: #ffffff;
		font-weight: bold;
		text-align: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-dark), 12%);
		color: rgb(var(--accent-dark));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-dark));
	}
</style>
